<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806200230986-cp9kpd8ksq00ome4rsrtveq4jve36fn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806200230986-cp9kpd8ksq00ome4rsrtveq4jve36fn2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806200230986-h80ik8aloaevok8smtitlrb6u0paavvt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuOWLW_yhszcmcDLnWQJosJ2lifT6M3Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>806200230986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amrmedo432.befitApp</string>
	<key>PROJECT_ID</key>
	<string>be-fit-776be</string>
	<key>STORAGE_BUCKET</key>
	<string>be-fit-776be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806200230986:ios:8a52ef70750b76e84bd2b3</string>
</dict>
</plist>